.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.sidebar {
  width: 100%;
  background-color: #222;
  color: #fff;
  height: 100%;
}
.content {
  flex-grow: 1;
  padding: 1%;
  
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 1hv;
  text-align: center;
  place-items: bottom;
  display: flex;
  align-items: flex-end;
}
.navigation {
  padding: 1hv;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 40hv); /* Odejmujemy wysokość nagłówka i stopki */
}

.nav-header {
  margin-bottom: 2hv;
}

.nav-header-text {
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  cursor: pointer;
  padding: 10px;
}

.nav-link:hover,
.nav-link.active {
  background-color: #333;
}

.nav-footer {
  display: flex;
  flex-direction: column;
}

.nav-footer-text {
  margin-top: 10px;
  text-align: center;
  text-size-adjust: 50%;
}

.nav-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #555;
  margin: 2%;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #45a049;
}
